<h1>Login Page</h1>

<form method="POST" action="/login">
    <input type="text" placeholder="username" name='username'>
    <input type="password" placeholder="password" name='password'>
    <button>LogIn</button>
</form>